{% extends "master.html" %}
{% comment %} {% extends "master.html" %}

{% block content %}
<h1 class="text-center mt-3 mb-3">Student Details</h1>
<div>
<form action="">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="btn btn-success" role="button" href="{% url 'update' student.id %}">Update</a>
    <a class="btn btn-danger" role="button" href="{% url "delete" student.id %}" >Delete</a>
</form>
</div>
{% endblock content %} {% endcomment %}


{% block content %}

<div class="container mt-4">

    <h1 class="text-center mb-4">
        Student Details
    </h1>

    <div class="card p-4 shadow">

        <p><strong>Name:</strong> {{ student.student_name }}</p>

        <p><strong>Email:</strong> {{ student.email }}</p>

        <p><strong>Course:</strong> {{ student.course }}</p>

        <p><strong>Enrollment Date:</strong> {{ student.enrollment_date }}</p>

        <div class="mt-3">

            <a href="{% url 'update' student.id %}"
               class="btn btn-success">
               Update
            </a>

            <a href="{% url 'delete' student.id %}"
               class="btn btn-danger">
               Delete
            </a>

        </div>

    </div>

</div>

{% endblock content %}