{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'Ind_Tel/style.css' %} " />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello this is Hyderabad</h1>
    <h3>You can visit many places in Hyderabad</h3>
    <ol>
      {% for place in places %}
      <li>{{place}}</li>
      {% endfor %}
    </ol>
  </body>
</html>
